.header {
  padding: 0 3rem;
  background-color: $color-primary;
}

.header__logo {
  font-family: $font-logo;
  text-decoration: none;
  color: $color-white;
  font-weight: bold;

  &-text {
    font-size: $l-size;
    padding: 0;
    margin: 0;

  }
}