.notes {
  list-style: none;
  padding: 0;
}

.idea {
  border-color: $color-idea!important;
}

.important {
  border-color: $color-important!important;
}

.todo {
  border-color: $color-todo!important;
}

.default {
  border-color: $color-default!important;
}

.question {
  border-color: $color-question!important;
}

.idea-filled {
  color: $color-white!important;
  background-color: $color-idea!important;
}

.important-filled {
  color: $color-white!important;
  background-color: $color-important!important;
}

.todo-filled {
  color: $color-white!important;
  background-color: $color-todo!important;
}

.default-filled {
  color: $color-white!important;
  background-color: $color-default!important;
}

.question-filled {
  color: $color-white!important;
  background-color: $color-question!important;
}

.odd {
  .idea-filled {
    background-color: darken($color-idea, 5%)!important;
  }

  .important-filled {
    background-color: darken($color-important, 5%)!important;
  }

  .todo-filled {
    background-color: darken($color-todo, 5%)!important;
  }

  .default-filled {
    background-color: darken($color-default, 5%)!important;
  }

  .question-filled {
    background-color: darken($color-question, 5%)!important;
  }
}